<div>
    <table>
            <tr>
              <td>Sales</td>
              <td>$<%= Number(data.sales).toFixed(2)%></td>
            </tr>
            <tr>
              <td>Royalties</td>
              <td>$<%= Number(data.royalties).toFixed(2)%></td>
            </tr>
            <tr>
              <td>Publisher Orders</td>
              <td>$<%= Number(data.pub_orders).toFixed(2)%></td>
            </tr>
            <tr>
              <td>TOTAL</td>
              <td>$<%= Number(data.sales - data.royalties - data.pub_orders).toFixed(2) %></td>
            </tr>
    </table>
</div>